<div class="container">
  <div class="row">
  <div class="col-5 mt-4">
    <%= simple_form_for [@venue, @booking] do |f| %>
      <strong><%= f.input :start_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 3, order: [:day, :month, :year] %></strong>
      <strong><%= f.input :end_date, as: :date, start_year: Date.today.year, end_year: Date.today.year + 3, order: [:day, :month, :year] %></strong>
      <%= f.submit "Book venue", class: "btn btn-success mt-2" %>
    <% end %>
    </div>
  </div>
</div>

<%# Later i would like to update this to include a calendar to select the dates. I think tempus dominus from bootstrap may help with this or form control. I can't remember how to do this. ChatGpt had some advice. and mentioned that we could use jquery or stimulus to achieve this. in addition, we would need moment.js to format the date and tempus dominus to display the calendar. And then set up a data controller in stimulus. But we can keep it simple for now with the form above. %>
