<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/alexagodzilla/venues-pay-and-play" class="icons"><i class="fab fa-github"></i></a>
    <a href="#" class="icons"><i class="fab fa-instagram"></i></a>
    <a href="#" class="icons"><i class="fab fa-twitter"></i></a>
    <a href="#" class="icons"><i class="fab fa-facebook"></i></a>
    <a href="#">Sitemap</a>
    <a href="#">Privacy</a>
    <a href="#"><i class="fa-solid fa-globe"></i> English (UK)</a>
    <a href="#"><i class="fa-solid fa-sterling-sign"></i> GBP</a>
  </div>
  <div class="footer-copyright">
    Pay and Play <i class="fas fa-heart"></i> © 2023 PnP, Inc.
  </div>
</div>
