.button-blue {
  padding: 8px 12px;
  border-radius: 4px;
  background: #000079;
  transition: background 0.3s ease;
  text-decoration: none;
  color: white;
  border: none;

  &:hover {
    background: #010194;
    color: white;
  }
}

.review-button {
  width: 119px;
  font-size: 13px;
}
