// standard blue button for submitting and searhing?

.button-blue {
  padding: 6px 12px;
  border-radius: 4px;
  background: #0f0bff;
  transition: background 0.3s ease;
  text-decoration: none;
  color: white;
  border: none
}

.button-blue:hover {
  background: #0704de;
}

// deletion button

// edit button
