.footer {
  background: #ffffff;
  border-top: 1px solid rgb(203, 218, 232);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.icons {
  color: rgb(0, 0, 0);
  opacity: 0.3;
  text-decoration: none;
  font-size: 22px;
  padding: 0px 10px;
}
.footer-links a {
  color: rgb(0, 0, 0);
  opacity: 0.5;
  text-decoration: none;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.75;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  color: rgb(93, 93, 93);
}
