.footer {
  background: rgb(0,0,96);
  background: linear-gradient(90deg, rgba(0,0,96,1) 0%, rgba(0,161,194,1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: auto;

  .fa-heart {
    color: #D23333;
  }
}

.footer-links {
  display: flex;
  align-items: center;

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0px 10px;

    &:hover {
      opacity: 0.8;
      transition: 0.2s;
    }
  }
}

.icons {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 22px;
  padding: 0px 10px;
}

.footer-copyright {
  color: rgb(255, 255, 255);
}
